<ion-view view-title="设置" >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ul class="list">

      <li class="item item-toggle">
        选项一
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        选项二
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>


      <li class="item item-toggle">
        选项三
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>


      <li class="item item-toggle">
        选项四
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item range range-positive">
        <div class="input-label">
          选项五
        </div>
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios-sunny"></i>
      </li>

      <li class="item item-input item-select">
        <div class="input-label">
          选项六
        </div>
        <select>
          <option>蓝色</option>
          <option selected>绿色</option>
          <option>红色</option>
        </select>
      </li>
    </ul>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="changePassword()">
        修改密码
      </button>
      <button class="button button-block button-balanced" ng-click="logout()">
        注销登录
      </button>
      <button class="button button-block button-assertive" ng-click="shutdown()">
        退出
      </button>

    </div>
  </ion-content>
</ion-view>
