<ion-view>
  <ion-header-bar class="bar-positive" align-title="center">
    <h1 class="title">登录</h1>
  </ion-header-bar>

  <ion-content class="signup-page" scroll="false">

    <div >
      <img src="img/logo.png" alt="">
    </div>

    <label class="item item-input username">
      <!-- <span class="input-label">编号</span> -->
      <i class="icon ion-ios-person-outline positive"></i>
      <input type="text" placeholder="编号" ng-model="user.id">
    </label>
    <br>

    <label class="item item-input lock">
      <!-- <span class="input-label">密码</span> -->
      <i class="icon ion-ios-locked-outline balanced"></i>
      <input type="password" placeholder="密码" ng-model="user.password">
    </label>

    <button class="button button-block button-positive" ng-click="validateUser()">
      登录
    </button>


  </ion-content>
</ion-view>
