<ion-view view-title="军事训练">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-top tabs-positive tabs-striped ">

    <ion-tab title="通知计划" href="#/sidemenu/train/plan">
      <ion-nav-view name="plan"></ion-nav-view>
    </ion-tab>
    <ion-tab title="训练法规" href="#/sidemenu/train/rule">
      <ion-nav-view name="rule"></ion-nav-view>
    </ion-tab>
    <ion-tab title="资料查询" href="#/sidemenu/train/search">
      <ion-nav-view name="search"></ion-nav-view>
    </ion-tab>
    <ion-tab title="训练考核" href="#/sidemenu/train/exam">
      <ion-nav-view name="exam"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
