<ion-view view-title="国防动员">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-top tabs-positive tabs-striped">

    <ion-tab title="组织机构" href="#/sidemenu/defence/organization">
      <ion-nav-view name="organization"></ion-nav-view>
    </ion-tab>
    <ion-tab title="法规政策" href="#/sidemenu/defence/rule">
      <ion-nav-view name="rule"></ion-nav-view>
    </ion-tab>
    <ion-tab title="兵员征集" href="#/sidemenu/defence/call">
      <ion-nav-view name="call"></ion-nav-view>
    </ion-tab>
    <ion-tab title="基本潜力" href="#/sidemenu/defence/potential">
      <ion-nav-view name="potential"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
